
body{
  font-family: 'Roboto', sans-serif;
}
.row{
  display:flex;
}

.col  {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {
 width: 20%;
}
.col-2{
 width: 60%;
}
.col-3 {
 width: 20%;
}

.h1{
  color: black;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.h2{
  color: black;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
.text{
  style: none;
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
