body{
  background-color:  #e6e2df
}
.rectangle {
      width: 400px;
      height: 200px;
      background: #b4230fed;
    }
    .rectangle:hover {
      background-color: black;
    }
    .rectangle_2 {
          width: 20px;
          height: 20px;
          background: black;
        }
        .rectangle_2:hover {
          background-color:#b4230fed;
        }
        .rectangle_3 {
              width: 400px;
              height: 200px;
              background: #b4230fed;
            }
            .rectangle_3:hover {
              background-color: black;
            }
            .flex-container {
              display: flex;
              justify-content: space-around;
              align-items: center;
              align-content: center;
              min-height: 800px;
            }
