
@font-face {
  font-family: 'pink-flamingo-bold';
  src: url('assets/fonts/cakesans-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/cakesans-bold-webfont.woff') format('woff');
  font-style: normal;
}
.row{
  display:flex;
}

.col  {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {
 width: 20%;
}

.col-2{
 width: 60%;
}
.col-3{
 width: 20%;
}

.title{
  font-family: 'pink-flamingo-bold';
  font-size: 45px;
  columns: 1;
  color: #a007b9;  
}
.body-text{
  text-align: justify;
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 25px;
  columns: 1;
}
.quote{
  font-family: 'Merriweather', serif;
  color: #a007b9;
  font-size: 40px;
}

.people{
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
}
.zines{
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
}
.page{
  width: 40vw;
  top: 50%;
  left: 9vw;
  position: relative;
}
.one{
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
}
