
@font-face {
  font-family: 'pink-flamingo-bold';
  src: url('assets/fonts/cakesans-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/cakesans-bold-webfont.woff') format('woff');
  font-style: normal;
}

.row{
  display:flex;
}

.col  {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {
 width: 40%;
}

.col-2{
 width: 60%;
}

.h1{
  position: fixed;
  font-family: 'pink-flamingo-bold';
  font-size: 45px;
  columns: 1;
  color: #a007b9;

}
.body-text{
  text-align: center
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 25px;
  columns: 1;
}
.quote{
  font-family: 'Merriweather', serif;
  color: #a007b9;
  font-size: 40px;
}
.site{
  font-family: 'Merriweather', serif;
  color: #a007b9;
  font-size: 40px;

}
.people{
  align-content: center;
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.zines{
  align-content: center;
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.page{

  width: 40vw;
  top: 50%;
  left: 9vw;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.one{
  width: 20vw;
  top: 50%;
  left: 15vw;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.cap{
  text-align: center;
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 15px;
  columns: 1
}
/* Desktop breakpoint */
@media (max-width:700px) {
  body{
  text-align: center;
  background-color: #ed853a;
 }
 .row{
   display: block;
 }
  .col1 {
   display: inline;
   padding: 1em;
 }
 .col3 {
   display: inline;
   padding: 1em;
   text-align: center;
   justify-content: center;
 }
 .col2 {
   display: inline;
   padding-top: 46px;
   padding: 1em;
   text-align: center;
   justify-content: center;
 }
 
 .h1{
   font-family: 'pink-flamingo-bold';
     font-size: 45px;
     line-height: 1.4;
     margin-bottom: 3vw;
     columns: 1;
     color: #a007b9;
     position: static;
 }
 .body-text{
   text-align: center
   font-family: 'Merriweather', serif;
   color: black;
   font-size: 25px;
   columns: 1;
 }
 .img{
   max-width: 100%;
   margin: 0 auto;
 }
}

@media print {
  blockquote {
    page-break-before: always;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  p {
    orphans: 3;
  }
}
