
body{
  font-family: 'Domine', serif;
font-family: 'Roboto', sans-serif;
cursor: none;
cursor: url('assets/img/pencil_cursor.png'), auto;
}
.image, .small-title,.home-title,.page,.click-image,.title, .about, .artist:hover {
  cursor: url(assets/img/pencil_cursor.png), auto;
}
.Domine {
    font-family: 'Domine';
}

.Roboto {
  font-family: 'Roboto';
}
.container {
	margin: 4vw;
	height: 100%;
}
.about-container {
  margin: 2vw;
  margin-top: -2vw;
  padding: 7vw;
  	height: 100%;
}

.title {
  margin: auto;
  font-family: 'Domine', serif;
}
.home-title {
  margin: auto;
  font-family: 'Domine', serif;
}

.small-title {
  font-family: 'Roboto', sans-serif;
  color:black;

}
a:link, a:visited {
  color:black;
  text-decoration: none;
}

.text{
  margin-left: 3vw;
}
a:link, a:visited {
    text-decoration: none;
}

.box {
    display: flex;
    margin-bottom: 1vw;
}

.artist {
  line-height: 3.5vw;
  border-bottom: black 0.4vw solid;
  border-right: black 0.4vw solid;
  border-left: black 0.4vw solid;  background-color: #9d3be9;
  padding: 2vw;
  font-size: 2.8vw;
}

.page {
  border: 0.4vw solid;
  background-color:#3ac5f9 ;
  padding:1vw;
  padding-bottom: 0vw;
  margin-top: 1vw;
  align-content: center;
  margin-left: 45vw;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.about {
  line-height: 3.5vw;
  border: black 0.4vw solid;
  background-color:#3ac5f9 ;
  padding: 2vw;
  font-size: 2.8vw;
}


.image {
    width: 28vw;
    height: 35vw;
    border: black 0.4vw solid;
}
.hold{
  display: flex;
  margin-bottom: 1vw;
}
.click-image {
    width: 48vw;
    height: 62vw;
    border: black 0.4vw solid;
}
.print-image {
  margin: 2vw;
  width: 97vw;
  height: 134vw;
}
.fill {
    display: flex;
    line-height: 2vw;
    color: black;
}

.row-one {
    display: flex;
    justify-content: space-around;
    line-height: 2vw;
    color: black;
}


.col-one {
  display: flex;
  border: black 0.4vw solid;
  color: black;
  animation-name: orange;
  animation-duration: 6s;
  animation-iteration-count: 10;
  animation-play-state: paused;
  padding: 2vw;
  margin-top: 3vw;
  margin-left: 3vw;
  font-size: 3.8vw;
}

.col-one:hover {
  animation-name: color 2s ease-in infinite forwards;
  animation-play-state: running;
}
@keyframes orange {
  0%   {background-color: #f4f4f4 ;}
  10%  {background-color:  #ff911f;}
  15%  {background-color:  #ff911f;}
  25%  {background-color:  #ff911f;}
  50%  {background-color:  #ff911f;}
  100%  {background-color:  #ff911f;}
}


.col-two{
    padding: 2vw;
    border-bottom: black 0.4vw solid;
    border-top: black 0.4vw solid;
    border-left: black 0.4vw solid;
    animation-name: blue;
   animation-duration: 6s;
   animation-iteration-count: 10;
   animation-play-state: paused;
    padding: 2vw;
    margin-top: 3vw;
    font-size: 3.8vw;
}
.col-two:hover {
  animation-name: color 2s ease-in infinite forwards;
  animation-play-state: running;
}
@keyframes blue {
  0%   {background-color: #f4f4f4 ;}
  10%  {background-color:  #3ac5f9;}
  15%  {background-color:  #3ac5f9;}
  25%  {background-color:  #3ac5f9;}
  50%  {background-color:  #3ac5f9;}
  100%  {background-color:  #3ac5f9;}

}

.col-three{
    border-bottom: black 0.4vw solid;
    border-top: black 0.4vw solid;
    border-left: black 0.4vw solid;
    color: black;
    animation-name: green;
   animation-duration: 6s;
   animation-iteration-count: 10;
   animation-play-state: paused;
    padding: 2vw;
    margin-top: 3vw;
    font-size: 3.8vw;
}

.col-three:hover {
  animation-name: color 2s ease-in infinite forwards;
  animation-play-state: running;
}

@keyframes green {
  0%   {background-color: #f4f4f4 ;}
  10%  {background-color:  #5deb1a;}
  15%  {background-color:  #5deb1a;}
  25%  {background-color:  #5deb1a;}
  50%  {background-color:  #5deb1a;}
  100%  {background-color:  #5deb1a;}

}

.home{
  display: flex;
  border: black 0.4vw solid;
  color: black;
  background-color: #ff911f;
  padding: 2vw;
  margin-top: 3vw;
  margin-left: 0vw;
  font-size: 3.8vw;

}

.print{
    display: flex;
    justify-content: center;
    border: black 0.4vw solid;
    padding: 2vw;
    background-color:#3ac5f9 ;
    padding: 2vw;
    margin-top: 0vw;
    font-size: 3.8vw;
}
a:link, a:visited {

    text-decoration: none;
}
.link{
  display: flex;
    justify-content: center;
    border: black 0.4vw solid;
    color: black;
    background-color:  #5deb1a;
    padding: 2vw;
    margin-top: -1vw;
    font-size: 3.8vw;

}

.col-four{
    border: black 0.4vw solid;
    color: black;
    animation-name: color;
   animation-duration: 6s;
   animation-iteration-count: 10;
   animation-play-state: paused;    padding: 2vw;
    margin-top: 3vw;
    margin-right:3vw;
    font-size: 3.8vw;
}
.col-four:hover {
  animation-name: color 2s ease-in infinite forwards;
  animation-play-state: running;
}

@keyframes color {
  0%   {background-color: #f4f4f4 ;}
  10%  {background-color:  #9d3be9;}
  15%  {background-color:  #9d3be9;}
  25%  {background-color:  #9d3be9;}
  50%  {background-color:  #9d3be9;}
  100%  {background-color:  #9d3be9;}

}


.row-two {
  display: flex;
justify-content: space-between;
margin-top: 15vw;
margin-bottom: 9vw;
padding-left: 3vw;
padding-right: 3vw;
}

.row-three {
  display: flex;
justify-content: space-between;
margin-bottom: 9vw;
padding-left: 3vw;
padding-right: 3vw;
}


.row-four {
  display: flex;
justify-content: space-between;
margin-bottom: 9vw;
padding-left: 3vw;
padding-right: 3vw;
}

.row-five {
  display: flex;
	justify-content: space-between;
	margin-bottom: 9vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.row-six {
  display: flex;
	justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 8vw;

}
